.main{
  padding-top: 3em;
}
.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
}
.filter-btn {
  margin-right: 0.5em;
}
.selected {
  background-color:lemonchiffon;
  color: green;
}